<h1>cv</h1>
<div>
    <h2>&lt;formations&gt;</h2>
    <ul>
        <li>
            <h3>&lt;h3&gt;Diplôme Développeur Web&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Open Classrooms, octobre 2021 - mars 2022&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Première année BTS SIO option SLAM&lt;/h3&gt;</h3>
            <p>&lt;p&gt;UIMM Méditérannée Ouest, septembre 2020 - septembre 2021&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Formation BTS Design D'espace&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Ecole chez Soi, 2017 - 2020&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;MANAA&lt;/h3&gt;</h3>
            <p>&lt;p&gt;ESMA Montpellier, 2017 - 2018&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Baccalauréat Technologique STI2D&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Lyçée Jean Mermoz, Montpellier, 2017&lt;/p&gt;</p>
        </li>
    </ul>
    <h2>&lt;/formations&gt;</h2>
</div>

<div>
    <h2>1   &lt;formations&gt;</h2>
    
        
    <p>2   &lt;h3&gt;Diplôme Développeur Web&lt;/h3&gt;</p>
    <p>3   &lt;p&gt;Open Classrooms, octobre 2021 - mars 2022&lt;/p&gt;</p>
        
        
    <p>4   &lt;h3&gt;Première année BTS SIO option SLAM&lt;/h3&gt;</p>
    <p>5   &lt;p&gt;UIMM Méditérannée Ouest, septembre 2020 - septembre 2021&lt;/p&gt;</p>
        
        
    <p>6   &lt;h3&gt;Formation BTS Design D'espace&lt;/h3&gt;</p>
    <p>7   &lt;p&gt;Ecole chez Soi, 2017 - 2020&lt;/p&gt;</p>
        
        
    <p>8   &lt;h3&gt;MANAA&lt;/h3&gt;</p>
    <p>9   &lt;p&gt;ESMA Montpellier, 2017 - 2018&lt;/p&gt;</p>
        
        
    <p>10   &lt;h3&gt;Baccalauréat Technologique STI2D&lt;/h3&gt;</p>
    <p>11   &lt;p&gt;Lyçée Jean Mermoz, Montpellier, 2017&lt;/p&gt;</p>
        
    
    <h2>12   &lt;/formations&gt;</h2>
</div>

<div>
    <h2>&lt;Expériences Professionnelles&gt;</h2>
    <ul>
        <li>
            <h3>&lt;h3&gt;Employé Polyvalent / Leader de Cuisine&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Burger King, juillet 2018 - juillet 2020&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Auxiliaire de vacance&lt;/h3&gt;</h3>
            <p>&lt;p&gt;LCL, Juillet 2017&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Stagiaire&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Clim Sud, juillet - Août 2015&lt;/p&gt;</p>
        </li>
    </ul>
    <h2>&lt;/Expériences Professionnelles&gt;</h2>
</div>

<div>

</div>