// @import '../../style/variables';

.bloc{
    &__line{
        display: flex;
        // flex-wrap: wrap;
        &__space{
            white-space: pre;
        }
        &__number{
            text-align: right;
            width: 3ch;
        }
        &__sign{
            color: var(--color);
        }
        &__text{
            flex-wrap: wrap;
        }
    }
}