<h1>cv</h1>
<!-- <div>
    <h2>&lt;formations&gt;</h2>
    <ul>
        <li>
            <h3>&lt;h3&gt;Diplôme Développeur Web&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Open Classrooms, octobre 2021 - mars 2022&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Première année BTS SIO option SLAM&lt;/h3&gt;</h3>
            <p>&lt;p&gt;UIMM Méditérannée Ouest, septembre 2020 - septembre 2021&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Formation BTS Design D'espace&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Ecole chez Soi, 2017 - 2020&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;MANAA&lt;/h3&gt;</h3>
            <p>&lt;p&gt;ESMA Montpellier, 2017 - 2018&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Baccalauréat Technologique STI2D&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Lyçée Jean Mermoz, Montpellier, 2017&lt;/p&gt;</p>
        </li>
    </ul>
    <h2>&lt;/formations&gt;</h2>
</div> -->

<div class="bloc">
    <span class="bloc__line">
        <span class="bloc__line__number">1&emsp;</span>
        <span class="bloc__line__space"></span>
        <span>&lt;formations&gt;</span>
        <!-- <h2>&lt;formations&gt;</h2> -->
    </span>
    
    <span class="bloc__line">
        <span class="bloc__line__number">2&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;h3&gt;</span>
        <span>Diplôme Développeur Web</span>
        <span>&lt;/h3&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number">3&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;p&gt;</span>
        <span>Open Classrooms, octobre 2021 - mars 2022</span>
        <span>&lt;/p&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number">4&emsp;</span>
        <span>|&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number">5&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;h3&gt;</span>
        <span>Première année BTS SIO option SLAM</span>
        <span>&lt;/h3&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number">6&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;p&gt;</span>
        <span>UIMM Méditérannée Ouest, septembre 2020 - septembre 2021</span>
        <span>&lt;/p&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number">7&emsp;</span>
        <span>|&emsp;</span>
    </span>    
    <span class="bloc__line">
        <span class="bloc__line__number">8&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;h3&gt;</span>
        <span>Formation BTS Design D'espace</span>
        <span>&lt;/h3&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number">9&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;p&gt;</span>
        <span>Ecole chez Soi, 2017 - 2020</span>
        <span>&lt;/p&gt;</span>
    </span>
    <span class="bloc__line">
        <span>10&emsp;</span>
        <span>|&emsp;</span>
    </span>
    <span class="bloc__line">
        <span>11&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;h3&gt;MANAA&lt;/h3&gt;</span>
        <span>MANAA</span>
        <span>&lt;/h3&gt;</span>
    </span>
    <span class="bloc__line">
        <span>12&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;p&gt;</span>
        <span>ESMA Montpellier, 2017 - 2018</span>
        <span>&lt;/p&gt;</span>
    </span>
    <span class="bloc__line">
        <span>13&emsp;</span>
        <span>|&emsp;</span>
    </span>
    <span class="bloc__line">
        <span>14&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;h3&gt;</span>
        <span>Baccalauréat Technologique STI2D</span>
        <span>&lt;/h3&gt;</span>
    </span>
    <span class="bloc__line">
        <span>15&emsp;</span>
        <span>|&emsp;</span>
        <span>&lt;p&gt;</span>
        <span>Lyçée Jean Mermoz, Montpellier, 2017</span>
        <span>&lt;/p&gt;</span>
    </span>
    <span class="bloc__line">
        <span>16&emsp;</span>
        <span></span>
        <span>&lt;/formations&gt;</span>
        <!-- <h2>&lt;/formations&gt;</h2> -->
    </span>
</div>

<div>
    <h2>&lt;Expériences Professionnelles&gt;</h2>
    <ul>
        <li>
            <h3>&lt;h3&gt;Employé Polyvalent / Leader de Cuisine&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Burger King, juillet 2018 - juillet 2020&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Auxiliaire de vacance&lt;/h3&gt;</h3>
            <p>&lt;p&gt;LCL, Juillet 2017&lt;/p&gt;</p>
        </li>
        <li>
            <h3>&lt;h3&gt;Stagiaire&lt;/h3&gt;</h3>
            <p>&lt;p&gt;Clim Sud, juillet - Août 2015&lt;/p&gt;</p>
        </li>
    </ul>
    <h2>&lt;/Expériences Professionnelles&gt;</h2>
</div>

<div>

</div>