<h1>cv</h1>

<div class="bloc">
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">1</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>formations</span>
        <span class="bloc__line__sign">&gt;</span>
        <!-- <h2>&lt;formations&gt;</h2> -->
    </span>
    
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">2</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Diplôme Développeur Web</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">3</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Open Classrooms, octobre 2021 - mars 2022</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">4</span>
        <span>&emsp;|&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">5</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Première année BTS SIO option SLAM</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">6</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>UIMM Méditérannée Ouest, septembre 2020 - septembre 2021</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">7</span>
        <span>&emsp;|&emsp;</span>
    </span>    
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">8</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Formation BTS Design D'espace</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">9</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Ecole chez Soi, 2017 - 2020</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">10</span>
        <span>&emsp;|&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">11</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>MANAA</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">12</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>ESMA Montpellier, 2017 - 2018</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">13</span>
        <span>&emsp;|&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">14</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Baccalauréat Technologique STI2D</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">15</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Lyçée Jean Mermoz, Montpellier, 2017</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">16</span>
        <span>&emsp;</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>formations</span>
        <span class="bloc__line__sign">&gt;</span>
        <!-- <h2>&lt;/formations&gt;</h2> -->
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">17</span>
        <span>&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">18</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>Expériences Professionnelles</span>
        <span class="bloc__line__sign">&gt;</span>
        <!-- <h2>&lt;formations&gt;</h2> -->
    </span>
    
    <span class="bloc__line">
        <span class="bloc__line__sign">18</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Employé Polyvalent / Leader de Cuisine</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">19</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Burger King, juillet 2018 - juillet 2020</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">20</span>
        <span>&emsp;|&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">21</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Auxiliaire de vacance</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">22</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>LCL, Juillet 2017</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">23</span>
        <span>&emsp;|&emsp;</span>
    </span>    
    <span class="bloc__line">
        <span class="bloc__line__sign">24</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Stagiaire</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>h3</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">25</span>
        <span>&emsp;|&emsp;</span>
        <span class="bloc__line__sign">&lt;</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
        <span>Clim Sud, juillet - Août 2015</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>p</span>
        <span class="bloc__line__sign">&gt;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__sign">26</span>
        <span>&emsp;</span>
        <span class="bloc__line__sign">&lt;/</span>
        <span>Expériences Professionnelles</span>
        <span class="bloc__line__sign">&gt;</span>
        <!-- <h2>&lt;/formations&gt;</h2> -->
    </span>
</div>

<div>

</div>