header{
    text-align: center;
    & ul{
        display: flex;
        justify-content: space-around;
        padding: 0;
        & li {
            cursor: pointer;
            list-style: none;
            background-color: yellow;
            padding: 5px;
        }
    }
}


// améliorer
.active-link{
    transform: scale(1.5);
}