header{
    text-align: center;
    & h1 {
        color: var(--text);
    }
    & ul{
        display: flex;
        justify-content: space-around;
        padding: 0;
        & li {
            cursor: pointer;
            width: 10%;
            list-style: none;
            background-color: yellow;
            padding: 5px;
            animation: header-active-return 0.5s both;
        }
    }
}

@keyframes header-active {
    0%{
        border-radius: 0;
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
        border-radius: 30px;
    }
    
}

@keyframes header-active-return {
    0%{
        border-radius: 30px;
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
        border-radius: 0;
    }
    
}


// améliorer
.active-link{
    animation: header-active 0.5s both;
}