<header class="header">
    <div class="header__logo">
    </div>
    <nav class="header__nav">
        <ul class="header__nav__bloc">
            <li class="header__nav__bloc__link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <div class="header__nav__bloc__link__icon">
                    <i class="fas fa-home"></i>
                </div>
                <p class="header__nav__bloc__link__text">Accueil</p>
            </li>
            <li class="header__nav__bloc__link" routerLink="/cv" routerLinkActive="active-link">
                <div class="header__nav__bloc__link__icon">
                    <i class="fas fa-folder-open"></i>
                </div>
                <p class="header__nav__bloc__link__text">Cv</p>
            </li>
            <li class="header__nav__bloc__link" routerLink="/portfolio" routerLinkActive="active-link">
                <div class="header__nav__bloc__link__icon">
                    <i class="fas fa-database"></i>
                </div>
                <p class="header__nav__bloc__link__text">Portfolio</p>
            </li>
        </ul>
    </nav>
</header>