.footer{
    background-color: gray;
    padding: 40px;
    & div {
        width: 60%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    & a {
        text-decoration: none;
        color: var(--text);
        padding: 5px;
        border: 1px solid var(--text);
        border-radius: 50%;
        // width: 25px;
    }
}