<footer class="footer">
    <div class="footer__bloc">
        <a class="footer__bloc__phone" href="tel:+33636671813" title="Numéro de téléphone">
            <i class="fa-solid fa-phone"></i>
        </a>
        <a class="footer__bloc__email" href="mailto:clementcarcenac@gmail.com" title="Adresse Email">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <a class="footer__bloc__github" href="https://github.com/ClementCar" target="_blank" title="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a class="footer__bloc__linkedin" href="https://www.linkedin.com/in/clement-carcenac-4a61a11b0" target="_blank" title="Linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
    <div class="footer__pos">
        <i class="fas fa-map-marker-alt"></i>
        <p>87 rue du Servent, 34980 St Gély du Fesc</p>
    </div>
</footer>
