@import'../../style/keyframe';

.footer{
    position: absolute;
    bottom: -135px;
    width: 100%;
    background-color: var(--footer-bg);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    &__bloc{
        width: 60%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        & a {
            text-decoration: none;
            color: black;
            width: 35px;
            height: 35px;
            border: 1px solid black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            & i {
                font-size: 20px;
            }
            &:hover{
                animation: shake .25s;
            }
        }
        &__phone:hover{
            background-color:#238c0b;
        }
        &__email:hover{
            background-color: #7a107e;
        }
        &__github:hover{
            background-color: #2ea44f;
        }
        &__linkedin:hover{
            background-color: #0077b5;
        }
    }
    &__pos{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 5px;
        color: black;
        & p {
            margin: 0;
            margin-left: 10px;
        }
    }
}