<footer class="footer">
    <div class="footer__bloc">
        <a href="tel:+33636671813" title="Numéro de téléphone">
            <i class="fa-solid fa-phone"></i>
        </a>
        <a href="mailto:clementcarcenac@gmail.com" title="Adresse Email">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://github.com/ClementCar" target="_blank" title="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/clement-carcenac-4a61a11b0" target="_blank" title="Linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</footer>
