<!-- <section class="section">
    <a class="section__link" href="https://github.com/ClementCar/mysite.git" target="_blank" title="Code de ce site">
        Acceder au code de ce site 
        <i class="fas fa-external-link"></i>
    </a>
    <div class="section__card">
        <div class="section__card__video">
            <video controls>
                <source src="../../assets/Groupomania/Groupomania.mp4" type="video/mp4">
            </video>
            <div class="section__card__video__img">
                <img id="ph1" src="../../assets/Groupomania/Log.JPG" alt="Photo Page de connexion" title="Page de connexion">
                <img id="ph2" src="../../assets/Groupomania/Post.JPG" alt="Photo Page de publication" title="Page de publication">
            </div>
        </div>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Groupomania</h2>
            <p class="section__card__info__dsp">Création d'un réseau social d'Entreprise</p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/Groupomania.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="section__card">
        <div class="section__card__video">
            <video controls>
                <source src="../../assets/piiquante/piiquante.mp4" type="video/mp4">
            </video>
            <div class="section__card__video__img">
                <img src="../../assets/piiquante/log.JPG" alt="Photo Page de connexion" title="Page de connexion">
                <img src="../../assets/piiquante/home.JPG" alt="Photo Page d'Accueil" title="Page d'Accueil">
            </div>
        </div>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Piiquante</h2>
            <p class="section__card__info__dsp">Construction d'une API</p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/Piiquante.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="section__card">
        <div class="section__card__video">
            <video controls>
                <source src="../../assets/kanap/Kanap.mp4" type="video/mp4">
            </video>
            <div class="section__card__video__img">
                <img src="../../assets/kanap/home.JPG" alt="Photo Page d'Accueil" title="Page d'Accueil">
                <img src="../../assets/kanap/product.JPG" alt="Photo Page de Produit" title="Page de produit">
            </div>
        </div>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Kanap</h2>
            <p class="section__card__info__dsp">Liaison frontend / Backend </p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/Kanap_5_12-01-22.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="section__card">
        <div class="section__card__video">
            <video controls>
                <source src="../../assets/chouette/Chouette.mp4" type="video/mp4">
            </video>
            <div class="section__card__video__img">
                <img src="../../assets/chouette/Home1.JPG" alt="Photo Page d'Accueil 1" title="Page d'Accueil">
                <img src="../../assets/chouette/Home 2.JPG" alt="Photo Page d'Accueil 2" title="Page d'Accueil">
            </div>
        </div>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Chouette Agence</h2>
            <p class="section__card__info__dsp">Optimisation SEO d'un site</p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/Projet-4.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="section__card">
        <div class="section__card__video">
            <video controls>
                <source src="../../assets/myfood/Food-tel.mp4" type="video/mp4">
            </video>
            <div class="section__card__video__img">
                <img src="../../assets/myfood/Accueil.JPG" alt="Photo Page D'Accueil" title="Page d'Accueil">
                <img src="../../assets/myfood/Page.JPG" alt="Photo Page de restaurant" title="Page de restaurant">
            </div>
        </div>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Groupomania</h2>
            <p class="section__card__info__dsp">Dynamisation d'une page web</p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/ClementCarcenac_3_06122021.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
    
</section> -->
<section class="section">
    <!-- <div *ngFor="let project of projects">
        <p>{{project.id}}</p>
    </div> -->
    <div class="section__div" fxFlex *ngIf="projects" [@expand]>
        <mat-grid-list [cols]="breakpoint" rowHeight="400px" gutterSize="25px">
            <mat-grid-tile *ngFor="let project of projects" [routerLink]="['/portfolio', project.id]">
                <img class="grid-img" src="{{project.logo}}" alt="{{project.name}}">
                <mat-grid-tile-footer>
                    <h2>{{project.name}}</h2>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</section>