@import'../../style/mixin';

.section{
    width: 100%;
    justify-content: center;
    &__card{
        width: 80%;
        background-color: var(--bg-file);
        margin: 0 auto;
        margin-top: 30px;
        height: 500px;
        border-radius: 9px;
        overflow: hidden;
        padding: 5px;
        box-shadow: var(--shadow-box);
        & video {
            width: 90%;
            height: 80%;
            justify-content: center;
        }
        &__info{
            position: relative;
            color: var(--text);
            &__title{
                margin-bottom: 0;
            }
            &__dsp{
                margin: 0;
            }
            &__link{
                position: absolute;
                top: 3%;
                right: 3%;
                font-size: 20px;
                text-decoration: none;
                color: var(--text);
            }
        }
    }
}