<section class="section">
    <div class="section__card">
        <video controls>
            <source src="../../assets/Groupomania/Groupomania.mp4" type="video/mp4">
        </video>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Groupomania</h2>
            <p class="section__card__info__dsp">Création d'un réseau social d'Entreprise</p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/Groupomania.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="section__card">
        <video controls>
            <source src="../../assets/piiquante/piiquante.mp4" type="video/mp4">
        </video>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Piiquante</h2>
            <p class="section__card__info__dsp">Construction d'une API</p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/Piiquante.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="section__card">
        <video controls>
            <source src="../../assets/kanap/Kanap.mp4" type="video/mp4">
        </video>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Kanap</h2>
            <p class="section__card__info__dsp">Liaison frontend / Backend </p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/Kanap_5_12-01-22.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="section__card">
        <video controls>
            <source src="../../assets/chouette/Chouette.mp4" type="video/mp4">
        </video>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Chouette Agence</h2>
            <p class="section__card__info__dsp">Optimisation SEO d'un site</p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/Projet-4.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
    <div class="section__card">
        <video controls>
            <source src="../../assets/myfood/Food-tel.mp4" type="video/mp4">
        </video>
        <div class="section__card__info">
            <h2 class="section__card__info__title">Groupomania</h2>
            <p class="section__card__info__dsp">Dynamisation d'une page web</p>
            <a class="section__card__info__link" href="https://github.com/ClementCar/ClementCarcenac_3_06122021.git" target="_blank" title="Code du projet">
                <i class="fas fa-external-link"></i>
            </a>
        </div>
    </div>
</section>