<section class="section">
    <div class="section__cart">
        <video controls>
            <source src="../../assets/myfood/Food-tel.mp4" type="video/mp4">
        </video>
        <div class="section__info">
            <h2>Groupomania</h2>
            <p>Réseau Social</p>
            <a href="https://github.com/ClementCar/Groupomania.git"></a>
        </div>
    </div>
    <div class="section__cart">
        <video controls>
            <source src="../../assets/myfood/Food-tel.mp4" type="video/mp4">
        </video>
        <div class="section__info">
            <h2>Piiquante</h2>
            <p>Construction API</p>
            <a href="https://github.com/ClementCar/Piiquante.git"></a>
        </div>
    </div>
    <div class="section__cart">
        <video controls>
            <source src="../../assets/myfood/Food-tel.mp4" type="video/mp4">
        </video>
        <div class="section__info">
            <h2>Kanap</h2>
            <p>Site e-commerce</p>
            <a href="https://github.com/ClementCar/Kanap_5_12-01-22.git"></a>
        </div>
    </div>
    <div class="section__cart">
        <video controls>
            <source src="../../assets/myfood/Food-tel.mp4" type="video/mp4">
        </video>
        <div class="section__info">
            <h2>Chouette Agence</h2>
            <p>Optimisation SEO</p>
            <a href="https://github.com/ClementCar/Projet-4.git"></a>
        </div>
    </div>
    <div class="section__cart">
        <video controls>
            <source src="../../assets/myfood/Food-tel.mp4" type="video/mp4">
        </video>
        <div class="section__info">
            <h2>Groupomania</h2>
            <p>Dynamiser une page Web</p>
            <a href="https://github.com/ClementCar/ClementCarcenac_3_06122021.git"></a>
        </div>
    </div>
</section>