<div>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">1</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__class">.compétences-clés</span>
        <span class="bloc__line__sign">&#123;</span>
    </span>
    
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">2</span>
        <span>&emsp;.&emsp;</span>
        <span class="bloc--line__text">HTML</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>3 *</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">3</span>
        <span>&emsp;.&emsp;</span>
        <span class="bloc--line__text">CSS</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>2.5 *</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">4</span>
        <span>&emsp;.&emsp;</span>
        <span class="bloc--line__text">JavaScript</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>4 *</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">5</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#125;</span>
    </span>
</div>