<div class="bloc">
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">1</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__class">.compétences-clés</span>
        <span class="bloc__line__sign">&#123;</span>
    </span>
    
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">2</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">HTML5</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">3</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">CSS3</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">4</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">JavaScript / TypeScript</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">5</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">Angular</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">6</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">MySql</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">7</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#125;</span>
    </span>
    <!-- drfythtrdhrtf -->
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">8</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">9</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__class">.Atouts</span>
        <span class="bloc__line__sign">&#123;</span>
    </span>
    
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">10</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">Communication</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">11</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">polyvalent</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">12</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">Capacité d'adaptation</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">13</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">Responsable</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">14</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">Gestion du stress</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">15</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">Logiciels maîtrisés</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">16</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">Langues</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">17</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc--line__text">Autres</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">18</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#125;</span>
    </span>
</div>