.mode{
    border: 1px solid var(--text);
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 2%;
    right: 5%;
    & i {
        color: var(--text);
        transition: all 0.3s ease-in-out;
    }
}