.mode{
    border: 1px solid var(--text);
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 2%;
    right: 5%;
    & i {
        color: var(--text);
        transition: all 0.3s ease-in-out;
    }
}

.dots-top{
    position: fixed;
    top: 10%;
    right: 0%;
}

.dots-bot{
    position: fixed;
    bottom: 10%;
}

div {
    width: 20%;
    height: 30%;
    background-image: var(--img);
    background-size: contain;
    transition: all 0.3s ease-in-out;
    // height: 25%;
    z-index: -100;
}