<div class="bloc">
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">1</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__class">import</span>
        <span class="bloc__line__sign">&#123;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span>Centres d'interets</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#125;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span>from</span>
        <span class="bloc__line__space">&emsp;</span>
        <span>'Clement/carcenac'</span>
        <span class="bloc__line__sign">;</span>
    </span>
    
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">2</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">3</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">Export</span>
        <span class="bloc__line__space">&emsp;</span>
        <span>class</span>
        <span class="bloc__line__space">&emsp;</span>
        <span>InteretsComponent</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#123;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">4</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">5</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">Nouvelles Technologies</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">6</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">7</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">Voyages</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>Angleterre, Italie, Espagne, Croatie, Montagnes...</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">8</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">9</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">Sports</span>
        <span class="bloc__line__sign">:&emsp;</span>
        <span>BasketBall(compétition), Musculation, VTT, Randonnées</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">10</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">11</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span>Dessin</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">12</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">13</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span>Photographie</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">14</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">15</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#125;</span>
    </span>
</div>
