.bloc{
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-box);
    box-shadow: var(--shadow-box);
    padding-top: 20px;
    padding-bottom: 20px;
    &__line{
        display: flex;
        & span{
            font-family: Arial, Helvetica, sans-serif;
        }
        &__space{
            width: 2ch;
        }
        &__imp{
            color: var(--ts-imp);
        }
        &__number{
            width: 3ch;
            text-align: right;
            min-width: 3ch;
        }
        &__sign{
            color: var(--sign);
        }
        &__mod{
            color: var(--ts-mod);
        }
        &__text{
            color: var(--ts-text);
        }
        &__comp{
            color: var(--ts-comp);
        }
        &__quote{
            color: var(--ts-quote);
        }
    }
}