<div class="bloc">
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">1</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__imp">import</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#123;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__mod">Centres d'intérêts</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#125;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__imp">from</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__quote">'@Clement/carcenac'</span>
        <span class="bloc__line__sign">;</span>
    </span>
    
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">2</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">3</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__imp">Export</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">class</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__comp">CvComponent</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#123;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">4</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">5</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">Nouvelles Technologies</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">6</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">7</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">Voyages</span>
        <span class="bloc__line__sign">&emsp;=&emsp;</span>
        <span class="bloc__line__quote">'Angleterre, Italie, Espagne, Croatie...'</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">8</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">9</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">Sports</span>
        <span class="bloc__line__sign">&emsp;=&emsp;</span>
        <span class="bloc__line__quote">'BasketBall, Musculation, VTT, Randonnées'</span>
        <span class="bloc__line__sign">;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">10</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">11</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">Dessin</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">12</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">13</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__text">Photographie</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">14</span>
        <span class="bloc__line__space">&emsp;</span>
    </span>
    <span class="bloc__line">
        <span class="bloc__line__number bloc__line__sign">15</span>
        <span class="bloc__line__space">&emsp;</span>
        <span class="bloc__line__sign">&#125;</span>
    </span>
</div>
