// :root{
//     --light-sass-text: red;
//     --light-number: #8b9a9f;
//     --light-sign: #4c768f;
//     --light-tag: #62260a;
//     --light-letter: black;
//     --light-info: #2276cc;
// }

:root{
    --breakpoint: (
        desktop: 993px,
        max-desktop: 1600px
    )
}

.light-theme {
    --logo: url(../assets/logo.JPG);
    --sass-text: red;
    --class: #62260a;
    --number: #8b9a9f;
    --sign: #4c768f;
    --tag: #62260a;
    --letter: black;
    --info: #2276cc;
    --background: #fdfef6;
    --text: black;
    --bg-file: #f3f3f3;
    --bg-box: #ffffff;
    --shadow-box:5px 5px 28px #e6e6e6,
                -5px -5px 28px #ffffff;
    --img: url(../assets/dots.png);
    --ts-imp: #6e3e7a;
    --ts-text: #1e38a1;
    --ts-mod:#1e88da;
    --ts-comp: #439544;
    --ts-quote: #9b351e;
    --footer-bg: #e3f6f5;
}

.dark-theme {
    --logo:url(../assets/logo-black.JPG);
    --sass-text: #3c3cff;
    --class: #b37e0c;
    --number: #8b9a9f;
    --sign: gray;
    --tag: #2d38dc;
    --letter: black;
    --info: #c43409;
    --background: black;
    --text: white;
    --bg-file: #252526;
    --bg-box: #1e1e1e;
    --shadow-box:0;
    --img:url(../assets/black-dots.png) ;
    --ts-imp: #6e3e7a;
    --ts-text: #1e38a1;
    --ts-mod:#1e88da;
    --ts-comp: #439544;
    --ts-quote: #9b351e;
    --footer-bg: #fbdd74;
}