<section class="section">
    <div class="section__file">
        <p>cv</p>
        <ul>
            <li>
                <a routerLink="html" routerLinkActive="active-link">
                    <img src="../../assets/file-html.png" alt="logo html">
                    cv.component.html
                </a>
            </li>
            <li>
                <a routerLink="css" routerLinkActive="active-link">
                    <img src="../../assets/file_type_scss_icon_130177.png" alt="logo sass">
                    cv.component.scss
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/file_type_typescript_icon_130108.png" alt="logo typescript">
                    cv.component.ts
                </a>
            </li>
        </ul>
    </div>
    <router-outlet class="section__code"></router-outlet>
</section>