@import'/src/style/mixin';

.section{
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    width: 90%;

    @include media-desktop{
        display: flex;
    }
    &__file{
        width: 100%;
        margin: 0 auto;
        background-color: var(--bg-file);
        box-shadow: var(--shadow-box);
        padding-top: 5%;

        //media
        @include media-desktop{
            width: 15%;
            margin: 0;
        }
        &__title{
            display: flex;
            align-items: center;
            margin-left: 5%;
            color: var(--text);
            & p {
                margin: 0;
                margin-left: 10px;
            }
        }
        & li {
            list-style: none;
        }
    }
    &__code{
        @include media-desktop{
            width: 80%;
        }
    }
    & a {
        text-decoration: none;
        color: var(--text);
        display: flex;
        align-items: center;
    }
    & img {
        width: 17px;
        margin-right: 5px;
    }
}

.active-link{
    background-color: rgba($color: gray, $alpha: 0.2);
}