<section class="section">
    <div class="section__file">
        <p>cv</p>
        <ul>
            <li>
                <a href="#">
                    <img src="../../assets/file-html.png" alt="">
                    cv.component.html
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/file_type_scss_icon_130177.png" alt="">
                    cv.component.scss
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../assets/file_type_typescript_icon_130108.png" alt="">
                    cv.component.ts
                </a>
            </li>
        </ul>
    </div>
    <app-skill></app-skill>
</section>