<section class="section">
    <div class="section__file" *ngIf="isShown" [@expand]>
        <div class="section__file__title">
            <i class="fa-solid fa-chevron-down"></i>
            <p>Dossier</p>
        </div>
        <ul>
            <li>
                <a routerLink="html" routerLinkActive="active-link">
                    <img src="../../assets/file-html.png" alt="logo html">
                    cv.component.html
                </a>
            </li>
            <li>
                <a routerLink="css" routerLinkActive="active-link">
                    <img src="../../assets/file_type_scss_icon_130177.png" alt="logo sass">
                    cv.component.scss
                </a>
            </li>
            <li>
                <a routerLink="ts" routerLinkActive="active-link">
                    <img src="../../assets/file_type_typescript_icon_130108.png" alt="logo typescript">
                    cv.component.ts
                </a>
            </li>
        </ul>
    </div>
    <div class="section__code" *ngIf="isShown" [@expand]>
        <router-outlet></router-outlet>
    </div>
    <div class="section__dld" *ngIf="isShown" [@expand]>
        <a class="section__dld__link" href="../..//assets/Clément Carcenac.pdf" title="CV PDF" download>
            Télécharger au format PDF
            <i class="fas fa-download"></i>
        </a>
    </div>
</section>