@import'/src/style/mixin';

.section{
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;

    @include media-desktop{
        display: flex;
        width: 90%;
    }
    &__file{
        width: 80%;
        margin: 0 auto;
        background-color: var(--bg-file);

        //media
        @include media-desktop{
            width: 20%;
            margin: 0;
        }
        & li {
            list-style: none;
        }
    }
    &__code{
        @include media-desktop{
            width: 80%;
        }
    }
    & a {
        text-decoration: none;
        color: var(--text);
        display: flex;
        align-items: center;
    }
    & img {
        width: 17px;
        margin-right: 5px;
    }
}

.active-link{
    background-color: rgba($color: gray, $alpha: 0.2);
}