<span id="votre_id1" class="target">
</span>
<span id="votre_id2" class="target">
</span>
<span id="votre_id3" class="target">
</span>
<span id="votre_id4" class="target">
</span>
<div class="cadre_diapo">
    <div class="interieur_diapo">
        <div class=description>
            <span>
                description1
            </span>
            <img src="../../assets/Groupomania/Log.JPG" alt>
        </div>
        <div class=description>
            <span>
                description2
            </span>
            <img src="../../assets/Groupomania/Post.JPG" alt>
        </div>
        <div class=description>
            <span>
                description3
            </span>
            <img src="../../assets/Groupomania/Log.JPG" alt>
        </div>
            <div class=description>
            <span>
                description4
            </span>
        <img src="../../assets/Groupomania/Post.JPG" alt>
        </div>
    </div>
    <ul class="navigation_diapo">
        <li>
            <a href="#votre_id1">
                <img src="../../assets/Groupomania/Log.JPG" alt>
            </a>
        </li>
        <li>
            <a href="#votre_id2">
                <img src="../../assets/Groupomania/Post.JPG" alt>
            </a>
        </li>
        <li>
            <a href="#votre_id3">
                <img src="../../assets/Groupomania/Log.JPG" alt>
            </a>
        </li>
        <li>
            <a href="#votre_id4">
                <img src="../../assets/Groupomania/Post.JPG" alt>
            </a>
        </li>
    </ul>
</div>

