<section class="section">
    <div class="section__bloc" *ngIf="isShown" [@expand]>
        <div class="section__bloc__first">
            <p class="section__bloc__first__letter">C</p>
            <div class="section__bloc__first__slash"></div>
            <div class="section__bloc__first__name">
                <span class="section__bloc__first__name__1 section__bloc__first__name__all">é</span>
                <span class="section__bloc__first__name__2 section__bloc__first__name__all">m</span>
                <span class="section__bloc__first__name__3 section__bloc__first__name__all">e</span>
                <span class="section__bloc__first__name__4 section__bloc__first__name__all">n</span>
                <span class="section__bloc__first__name__5 section__bloc__first__name__all">t</span>
            </div>
        </div>
        <div class="section__bloc__last">
            <p class="section__bloc__last__sign">></p>
            <div class="section__bloc__last__surname">
                <span class="section__bloc__last__surname__7 section__bloc__last__surname__all">a</span>
                <span class="section__bloc__last__surname__6 section__bloc__last__surname__all">r</span>
                <span class="section__bloc__last__surname__5 section__bloc__last__surname__all">c</span>
                <span class="section__bloc__last__surname__4 section__bloc__last__surname__all">e</span>
                <span class="section__bloc__last__surname__3 section__bloc__last__surname__all">n</span>
                <span class="section__bloc__last__surname__2 section__bloc__last__surname__all">a</span>
                <span class="section__bloc__last__surname__1 section__bloc__last__surname__all">c</span>
            </div>
        </div>
    </div>
    <div class="section__presentation" *ngIf="isShown" [@expand]>
        <p>
            Bonjour,<br>
            Bienvenue sur mon site !<br>
            Je suis un jeune développeur Web ambitionnant de mettre ses compétences au service d'une entreprise.<br>
            Vous trouverez sur ce site tout mon parcours et les projets réalisés.<br>
            Bonne Navigation !
        </p>
    </div>
    <div class="section__social" *ngIf="isShown" [@expand]>
        <a class="section__social__phone" href="tel:+33636671813" title="Numéro de téléphone">
            <i class="fa-solid fa-phone"></i>
        </a>
        <a class="section__social__email" href="mailto:clementcarcenac@gmail.com" title="Adresse Email">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <a class="section__social__github" href="https://github.com/ClementCar" target="_blank" title="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a class="section__social__linkedin" href="https://www.linkedin.com/in/clement-carcenac-4a61a11b0" target="_blank" title="Linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</section>

