<section class="section">
    <div class="section__bloc">
        <div class="section__bloc__first">
            <p class="section__bloc__first__letter">C</p>
            <div class="section__bloc__first__slash"></div>
            <div class="section__bloc__first__name">
                <span class="section__bloc__first__name__1 section__bloc__first__name__all">é</span>
                <span class="section__bloc__first__name__2 section__bloc__first__name__all">m</span>
                <span class="section__bloc__first__name__3 section__bloc__first__name__all">e</span>
                <span class="section__bloc__first__name__4 section__bloc__first__name__all">n</span>
                <span class="section__bloc__first__name__5 section__bloc__first__name__all">t</span>
            </div>
        </div>
        <div class="section__bloc__last">
            <p class="section__bloc__last__sign">></p>
            <div class="section__bloc__last__surname">
                <span class="section__bloc__last__surname__7 section__bloc__last__surname__all">a</span>
                <span class="section__bloc__last__surname__6 section__bloc__last__surname__all">r</span>
                <span class="section__bloc__last__surname__5 section__bloc__last__surname__all">c</span>
                <span class="section__bloc__last__surname__4 section__bloc__last__surname__all">e</span>
                <span class="section__bloc__last__surname__3 section__bloc__last__surname__all">n</span>
                <span class="section__bloc__last__surname__2 section__bloc__last__surname__all">a</span>
                <span class="section__bloc__last__surname__1 section__bloc__last__surname__all">c</span>
            </div>
        </div>
    </div>
    <div class="section__presentation">
        <p>
            Bonjour,<br>
            Bienvenue sur mon site !<br>
            Je suis un jeune développeur Web ambitionnant de mettre ses compétences au service d'une entreprise.<br>
            Vous trouverez sur ce site tout mon parcours et les projets réalisés.<br>
            Bonne Navigation !
        </p>
    </div>
</section>

